META_ACCESS_TOKEN=
META_AD_ACCOUNT_ID=
META_EXTRA_AD_ACCOUNT_IDS=

CAFE24_CLIENT_ID=
CAFE24_CLIENT_SECRET=
CAFE24_MALL_ID=
CAFE24_REDIRECT_URI=
CAFE24_REFRESH_TOKEN=
CAFE24_TARGET_KEYWORD=

COUPANG_ACCESS_KEY=
COUPANG_SECRET_KEY=
COUPANG_VENDOR_ID=
COUPANG_TARGET_KEYWORD=

DISCORD_WEBHOOK_URL=
DISCORD_WEBHOOK_URL_ORDERS=

BEP_ROAS=
